@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

#logo {
  font-family: Anton, sans-serif;
  font-size: 6em;
}

#title {
  font-size: 0.8em;
  font-weight: bold;
}

.form-control {
  width: 250px;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  padding-left: 4px;
}